p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000000;
	leading: 4px;
}

a {
	color: #0066FF;
	text-decoration: underline;
}

a:hover {
	color: #CC3300;
	text-decoration: none;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #0066CC;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #339966;
}

.highlight {
	color: #AA4400;
}

.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}